 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 433px;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 0 0;
}

.u-section-1 .u-text-1 {
  width: 289px;
  margin: 81px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 433px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 2px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 24px auto 0 36px;
}

.u-section-1 .u-btn-1 {
  margin: 84px 58px 0;
}

.u-section-1 .u-form-1 {
  height: 350px;
  width: 757px;
  background-image: none;
  margin: -121px auto 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 357px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 252px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 526px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 186px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 473px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 177px;
  }

  .u-section-1 .u-form-1 {
    width: 337px;
  }
}